{% extends "_layouts/base" %}

{% block content %}
  
  <main class="relative">

    {% include "_includes/inside/page_title" %}
  
    <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="bg-white">
  
  
    <div class="py-16 sm:py-20">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

      <div class="grid grid-cols-3 gap-12">
        <div class="w-auto col-span-1">


        {% include "_includes/inside/inside_side_nav" %}
          
        </div>
        <!-- ... -->
        <div class="w-auto col-span-2">

          <h1 class="text-4xl mb-3 font-extrabold text-gray-900 sm:text-4xl">
            {{entry.title}}
          </h1>

          {% for block in entry.bodyContent %}

          {% switch block.type %}

          {% case "heading" %}

         <br> <h1 class="text-4xl mb-3 font-extrabold text-gray-900 sm:text-4xl">
            {{block.heading}}
          </h1>
            

              {% case "subheading" %}
              <br> <h3 class="block text-xl font-semibold text-gray-900 border-b px-4 py-3 ">
                {{block.subheading}}
              </h3>
      
            {% case "paragraph" %}
            <p class="mt-4 text-lg leading-6 text-gray-700">{{block.text}}</p>

            {% case "file" %}

            {% case "link" %}
          <li style="list-style: none;">
            <a href="" style="color: black; font-family: Symbola;"><strong><i class="fas fa-angle-double-right"></i> {{block.links}}</strong>
            </a>
        </li><br>
      
            {% default %}

            {% endswitch %}
      
            {% endfor %}
                  
    
        </div>
      </div>


     
    </div>
  </div>
  </div>
  
  

  
    </main>

{% endblock %}